<link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap.css">

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Data Table With Full Features</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table *ngIf="phones" id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th *ngFor="let column of columns">
                    {{column.display}}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let object of phones" (click)="alert()">
                <td *ngFor="let column of columns" >
                    {{object[column.variable]}}
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th *ngFor="let column of columns">
                    {{column.display}}
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.box-body -->
</div>
