<section class="content">
    <div class="row">
    <div class="col-md-6">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Quick example</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputImportVersion">Import version</label>
                    <input type="text" class="form-control" id="inputImportVersion" placeholder="Input version">
                </div>
                <div class="form-group">
                    <label for="inputInsertionType">Insertion type</label>
                    <input type="text" class="form-control" id="inputInsertionType" placeholder="Insertion type">
                </div>
                <div class="form-group">
                    <label for="inputTrustListType">Trustlist type</label>
                    <input type="text" class="form-control" id="inputTrustListType" placeholder="Trustlist type">
                </div>
                <div class="form-group">
                    <label for="inputTrustListStatus">Trustlist status</label>
                    <input type="text" class="form-control" id="inputTrustListStatus" placeholder="Trustlist status">
                </div>
                <div class="form-group">
                    <label for="inputValidFrom">Valid from</label>
                    <input type="date" class="form-control" id="inputValidFrom" placeholder="Valid from">
                </div>
                <div class="form-group">
                    <label for="inputValidTo">Valid to</label>
                    <input type="date" class="form-control" id="inputValidTo" placeholder="Valid to">
                </div>
                <div class="form-group">
                    <label for="inputNote">Note</label>
                    <input type="text" class="form-control" id="inputNote" placeholder="Note">
                </div>
                <div class="form-group">
                    <label for="inputFirstName">First name</label>
                    <input type="text" class="form-control" id="inputFirstName" placeholder="First name">
                </div>
                <div class="form-group">
                    <label for="inputSecondName">Second name</label>
                    <input type="text" class="form-control" id="inputSecondName" placeholder="Second name">
                </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Create</button>
                <button type="submit" class="btn btn-danger">Cancel</button>
            </div>
        </form>
    </div>
    </div>
    <div class="col-md-6">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Horizontal Form</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputImportVersion2" class="col-sm-3 control-label">Import version</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputImportVersion2" placeholder="Input version">
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <label for="inputInsertionType2" class="col-sm-3 control-label">Insertion type</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputInsertionType2" placeholder="Insertion type">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Trustlist type</label>

                        <div class="col-sm-8">
                            <!--<input type="text" class="form-control" id="inputTrustListType2" placeholder="Trustlist type">-->
                            <select class="form-control">
                                <option>Black list</option>
                                <option>Gray list</option>
                                <option>Silver list</option>
                                <option>White list</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputTrustListStatus2" class="col-sm-3 control-label">Trustlist status</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputTrustListStatus2" placeholder="Trustlist status">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputValidFrom2" class="col-sm-3 control-label">Valid from</label>

                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="date" class="form-control" id="inputValidFrom2" placeholder="Valid from">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputValidTo2" class="col-sm-3 control-label">Valid to</label>

                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="date" class="form-control" id="inputValidTo2" placeholder="Valid to">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Note</label>

                        <div class="col-sm-8">
                            <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                            <!--<input type="text" class="form-control" id="inputNote2" placeholder="Note">-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputFirstName2" class="col-sm-3 control-label">First name</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputFirstName2" placeholder="First name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputSecondName2" class="col-sm-3 control-label">Second name</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputSecondName2" placeholder="Second name">
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary pull-right">Create</button>
                    <button type="submit" class="btn btn-danger pull-right">Cancel</button>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
    </div>
    </div>
</section>